#deals{
    padding: 40px 30px;
}
.deals__body{
    text-align: center;
}
.deals__title{
    font-size: 2.6rem;
    font-weight: 600;
    color: #222;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.deals__cards{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    flex-flow: wrap;
}
.deals__card {
    width: 380px;
    height: 430px;
    position: relative;
    transition: all 0.4s ease;
    &:hover .deals__card-img{
        opacity: 0;
    }
    &:hover .deals__card-img-hover{
        opacity: 1;
    }
    &:hover .bi-heart{
        transform: translateY(0px);
        transition: all 0.4s ease;
        
    }
    &:hover .bx-search-alt-2{
        animation-name: slideInUp;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    @keyframes slideInUp {
        0% {
            transform: translateY(100%);
            visibility: visible;
        }
        100% {
            transform: translateY(0);
        }
    }
    
    &:hover .deals__card-content{
        position: absolute;
        z-index: 2;
        
        
    }
    
}
.deals__card-img {
    position: absolute;
    left: 0;
    transition: all 0.5s ease;
    
}
.deals__card-content-two {
    position: absolute;
    bottom: 25px;
    left: 175px;
    overflow: hidden;
    height: 40px;
    display: flex;
}
.bi-heart,.bx-search-alt-2{
    padding: 10px 12px 8px 12px;
    background: #fff;
    color: #8C8C8C;
    border-radius: 50%;
    transition: all 0.3s ease;
    transform: translateY(40px);
    
    
    &:hover{
        background: #105caa;
        color: #fff;
        transition: all 0.3s ease;
        
    }
}
.bx-search-alt-2{
    padding: 12px;
    transition: all 0.3s ease;
    display: block;
    
}
.bi-heart{
    display: block;
    margin-right: 10px;
}
.deals__card-img-hover {
    width: 425px;
    height: 380px;
    opacity: 0;
    transition: all 0.5s ease;
}

.deals__card-info {
    display: block;
    position: absolute;
    bottom: -90px;
    left: 110px;    
}
.deals__card-title {
    font-family: Poppins,HelveticaNeue,Helvetica Neue,sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #444;
    margin-top: 15px;
    margin-bottom: 8px;
}
.deals__card-star{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.bxs-star{
    color: #ffd201;
    font-size: 13px;
    
}
.deals__card-text {
    font-family: Poppins,HelveticaNeue,Helvetica Neue,sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #222;
    margin-bottom: 20px;
    
}
.deals__card-text-span{
    color: #e0e0e0;
    font-size: 10px;
    font-weight: 700;
    margin-left: 10px;
}

.deals__card-btn {
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #444;
    background: #EAEAEA;
    padding: 11.5px 35px;
    border-radius: 40px;
    display: flex;
}
.bx-check{
    font-size: 15px;
}
.deals__pagination-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    width: 250px;
    margin: 0 auto;
}
.deals__pagination-link--active{
    padding: 0px 11px;
    background-color: #fd6666;
    border-radius: 50%;
}
.deals__pagination-link{
    background-color: #d4d4d4;
    padding: 0px 11px;
    border-radius: 50%;
    transition: all 0.3s ease;
    
    &:hover{
        background-color: #fd6666;
        transition: all 0.3s ease;
        
    }
    
}

.deals__total-list {
    position: absolute;
    z-index: 1;
    right: 15%;
    top: 10%;
    z-index: 5;
}
.deals__total-item {
    display: block;
    position: relative;
    background: #fff;
    padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    
    &::before{
        content: '';
        display: block;
        background: #fd6666;
        width: 46px;
        height: 57px;
        border-radius: 5px;
        position: absolute;
        top: 0;
        z-index: -1;
        
    }
}
.deals__total-span {
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    color: #222;
    padding-top: 5px;
    
    
    
}
.deals__total-span-br {
    display: block;
    width: 50%;
    height: 0.5px;
    background-color: #b4b4b4;
    position: absolute;
    left: 10px;
}
.deals__total-span-score {
    display: block;
    font-size: 10px;
    color: #B9B9B9;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
@media only screen and (max-width:1230px) {

    .deals__card{
        width: 350px;
        height: 350px;
        margin-bottom: 20px;
    }
    .deals__card-img-hover{
        width: 350px;
        height: 350px;
    }
    .deals__card-info{
        left: 65px;
    }
    .deals__card-content-two{
        bottom: 10px;
        left: 110px;
    }

}

@media only screen and (max-width:1140px) {

    .deals__card{
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }
    .deals__card-img-hover{
        width: 300px;
        height: 300px;
    }
    .deals__card-info{
        left: 65px;
    }
    .deals__card-content-two{
        bottom: 10px;
        left: 110px;
    }

}

@media only screen and (max-width:992px) {
    .deals__card{
        width: 420px;
        height: 420px;
        margin-bottom: 20px;
    }
    .deals__card-img-hover{
        width: 420px;
        height: 420px;
    }
    .deals__card-info{
        left: 65px;
    }
    .deals__card-content-two{
        bottom: 10px;
        left: 110px;
    }
    .none{
        display: none;
    }
    .deals__title{
        font-size: 1.8rem;
    }
    #banner{
        height: 320px;
    }
}
@media only screen and (max-width:930px) {
    .deals__card{
        width: 400px;
        height: 400px;
        margin-bottom: 20px;
        
    }
    .deals__card-img-hover{
        width: 400px;
        height: 400px;
    }
}
@media only screen and (max-width:890px) {
    .deals__card{
        width: 370px;
        height: 370px;
        margin-bottom: 20px;
        
    }    .deals__card-img-hover{
        width: 370px;
        height: 370px;
    }
}
@media only screen and (max-width:830px) {
    .deals__card{
        width: 350px;
        height: 350px;
        margin-bottom: 20px;
    }
    .deals__card-img-hover{
        width: 350px;
        height: 350px;
    }
    .deals__card-info{
        left: 30%;
        bottom: -140px;
    }
    .deals__card-content-two{
        bottom: 10px;
        left: 70px;
    }
}

@media only screen and (max-width:790px) {
    .deals__card{
        width: 335px;
        height: 335px;
        margin-bottom: 20px;
    }
    .deals__card-img-hover{
        width: 335px;
        height: 335px;
    }
    .deals__card-info{
        left: 35px;
    }
    .deals__card-content-two{
        bottom: 10px;
        left: 70px;
    }
}


@media only screen and (max-width:768px) {
    .deals__card{
        width: 300px;
        height: 100%;
        
    }
    .deals__card-img-hover{
        width: 300px;
        height: 300px;
    }
    .deals__card-info{
        left: 30%;
        bottom: -150px;
    }
    .deals__card-content-two{
        bottom: 10px;
        left: 120px;
    }
    .deals__list{
        flex-direction: column;
    }
    .deals__item{
        width: 100%;
        margin-bottom: 15px;
    }
    .deals__item--active{
        width: 100%;
        margin-bottom: 15px;
    }
    .deals__total-list {
        position: absolute;
        z-index: 1;
        right: 5%;
        top: 10%;
        z-index: 5;
    }
    #banner{
        height: 230px;
    }
}

@media only screen and (max-width:700px) {
    .deals__card{
        width: 260px;
        height: auto;
        
    }
    .deals__card-img-hover{
        width: 260px;
        height: auto;
    }
    .deals__card-info{
        left: 30%;
        bottom: -80px;
        }
    .deals__card-content-two{
        bottom: 10px;
        left: 120px;
    }
    .deals__list{
        flex-direction: column;
    }
    .deals__item{
        width: 100%;
        margin-bottom: 15px;
    }
    .deals__item--active{
        width: 100%;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width:615px) {
    .deals__card{
        width: 100%;
        height: 100%;
        
    }
    .deals__card-img-hover{
        width: 100%;
        height: 100%;
    }
    .deals__card-info{
        left: 30%;
        bottom: -150px;
    }
    .deals__card-content-two{
        bottom: 10px;
        left: 120px;
    }
    .deals__list{
        flex-direction: column;
    }
    .deals__item{
        width: 100%;
        margin-bottom: 15px;
    }
    .deals__item--active{
        width: 100%;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width:576px) {
    .deals__card{
        width: 100%;
        height: 100%;        
    }
    .deals__card-img-hover{
        width: 100%;
        height: 100%;
    }
    .deals__card-info {
        left: 30%;
        bottom: -150px;
        }
    .deals__card-content-two{
        bottom: 10px;
        left: 120px;
    }
    .deals__list{
        flex-direction: column;
    }
    .deals__item{
        width: 100%;
        margin-bottom: 15px;
    }
    .deals__item--active{
        width: 100%;
        margin-bottom: 15px;
    }
    .non{
        display: none;
    }
    #banner{
        height: 150px;
    }
}



