footer{
margin-top: 100px;
}
.footer__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: wrap;
}
.footer__item {
}
.footer__nav-list {
}
.footer__nav-item {
}
.footer__na-item {
    color: #222;
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;

}
.footer__nav-link {
    font-size: 11px;
    color: #666;
    font-weight: 400;
}
@media only screen and (max-width:992px) {
    .footer__item{
        width: 50%;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:768px) {
    .footer__item{
        width: 30%;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:576px) {
    .footer__item{
        width: 100%;
        margin-bottom: 20px;

    }
}