.carousel-control-prev{
    color: #000;
    background: #adadad;
    height: 80px;
    width: 60px;
    top: 40%;
    left: 0;
    opacity: 1;
    &:hover{
        background: #444343;
    }
}
.carousel-control-next{
    color: #000;
    background: #adadad; 
    height: 80px;
    width: 60px;
    top: 40%;
    right: 0;
    opacity: 1;
    &:hover{
        background: #444343;
    }
}
.hero__block{
    position: absolute;
    top: 120px;
    left: 125px;
    width: 450px;
}
.hero__title{
    font-weight: 900;
    font-size: 30px;
    color: #1477dd;
    padding: 0 15px 7px;
    margin-bottom: 17px;
    display: inline-block;
    display: flex;
    align-items: flex-start;
    font-variant: small-caps;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
} 

.hero__span{
    font-weight: 700;
    font-size: 20px;
    color: #1477dd;
    margin-left: 5px;
}
.hero__subtitle{
    font-family: Poppins,sans-serif;
    padding: 0 15px 23px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 50px;
    font-size: 35px;
    color: #000000;
    animation-name: bounceInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    100% {
        transform: none;
    }
}

.hero__text{
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #424242;
    text-transform: none;
    padding: 0 15px;
    margin-bottom: 35px;
    animation-name: bounceInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    
}

@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    100% {
        transform: none;
    }
}
.hero__btn{
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    background: #0869cd;  
    text-transform: uppercase;
    transition: all .50s ease;
    padding: 15px 39.57px;
    border-radius: 40px;
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-fill-mode: both;
    
    
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }
    
    &:hover{
        color: #fff;
        background: #105caa;
    }
}
.bxs-shopping-bag{
    margin-right: 10px;
}   

.hero__img-two{
    height: 100%;
    
}

.hero__block-two {
    text-align: center;
    width: 685px;
    margin: 0 auto;
    position: absolute;
    top: 25px;
    left: 27%;
    z-index: 1;
}
.hero__title-two{
    font-weight: 900;
    font-size: 30px;
    color: #1477dd;
    padding: 0 15px 7px;
    margin-bottom: 10px;
    display: inline-block;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-variant: small-caps;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
.hero__subtitle-two{
    padding: 0 15px 0px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 50px;
    font-size: 37px;
    color: #000;
    animation-name: slideInDown;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.7s;
}
@keyframes slideInDown {
    0% {
        transform: translateY(-350%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.hero__text-two {
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 35px;
    color: #424242;
    text-transform: none;
    padding: 0 15px;
    margin-bottom: 35px;
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.hero__btn-two{
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px 39.57px;
    background: #f8891b;
    border-radius: 40px;
    animation-name: lightSpeedIn;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: both;
    transition: all 0.4s ease;
    
    @keyframes lightSpeedIn {
        0% {
            -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
            opacity: 0;
        }
        60% {
            -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
            opacity: 1;
        }
        100% {
            -webkit-transform: none;
            transform: none;
            opacity: 1;
        }
    }
    
    
    &:hover{
        color: #fff;
        background: #105caa;
        transition: all 0.4s ease;
    }
    
}


@media only screen and (max-width:1100px) {
    .hero__title,.hero__subtitle,.hero__text{
        padding: 0;
    }
    .hero__title,.hero__subtitle{
        margin-bottom: 21px;
    }
    .hero__block{
        left: 88px;
        width: 404px;
    }
    
}
@media only screen and (max-width: 992px) {
    .hero__block{
        left: 125px;
        width: 404px;
        top: 45px;
    }
    .carousel-control-prev,.carousel-control-next{
        top: 38%;
    }
    .carousel-control-prev{
        left: 0;
    }
    
    .hero__subtitle{
        font-size: 30px;
    }
    .hero__title,.hero__subtitle{
        margin-bottom: 14px;
    }
    .hero__text{
        margin-bottom: 25px;
    }
    
}
@media only screen and (max-width:850px) {
    .hero__block{
        left: 70px;
    }
    
}
@media only screen and (max-width:768px) {
    nav{
        display: none;
    }
    .hero__block{
        left: 108px;
        top: 50px;
        width: 465px;
    }
    .hero__title,.hero__subtitle{
        font-size: 24px;
        
    }
    .hero__text{
        font-size: 13px;
    }
    .hero__title{
        margin-bottom: 10px;
    }
    .hero__subtitle{
        margin-bottom: 0px;
        line-height: 40px;
    }
    .hero__text{
        margin-bottom: 18px;
    }
    .carousel-control-prev,.carousel-control-next{
        height: 73px;
        width: 58px;
    }
}
@media only screen and (max-width:640px) {
    .hero__block{
        left: 60px;
    }
}
@media only screen and (max-width:576px) {
    .hero__block{
        display: none;
    }
    .carousel-control-prev,.carousel-control-next{
        height: 45px;
        width: 25px;
        top: 40%;
    }
    .carousel-control-prev-icon{
        width: 1rem;
        height: 1rem;
    }
}

